<div class="md:hidden">
	<button @click="expanded = ! expanded, console.log(expanded)" class="hamburger hamburger--spin z-10 text-white" :class="expanded && ' is-active'">
		<span class="hamburger-box ">
			<span class="hamburger-inner" style="fill: white;"></span>
		</span>
	</button>
</div>
