
<img src={{ Image(post.meta('hero_image')).src }} alt="boat" class="object-cover h-screen md:h-full w-full brightness-75 md:brightness-100" />
<section class="absolute bottom-0 w-full inside pb-12 md:pb-32">
	<div class="section-wrapper">
		<!-- Hero Text -->
		{% include "partial/hero-text.twig" with {'post': post} %}

		{# todo mettere link #}

		<div class="flex flex-wrap space-x-0 sm:space-x-5">
			<a href="/bunker" class="hero-button">Eazy
				Bunker</a>
			<a href="/green" class="hero-button">Eazy
				Green</a>
			<a href="/yachting" class="hero-button">Eazy
				Yachting</a>
		</div>
	</div>
</section>