<img src={{ Image(post.meta("hero_image")).src }} alt="boat "
class="object-cover h-screen w-full brightness-75 md:brightness-100" />
<div class="absolute bottom-0 left-0 inside w-full pb-12 sm:pb-32">
  <div class="section-wrapper">
    <!-- Hero Text -->
    {% include "partial/hero-text.twig" with {'post': post} %}
  </div>
</div>
