<img src={{ Image(post.meta('hero_image')).src }} alt="boat" class="object-cover h-full w-full " />
<section class="absolute bottom-0 w-full inside">
	<div class="section-wrapper pb-32 md:pb-16 lg:pb-32 ">
		<!-- Hero Text -->
		{% include "partial/hero-text.twig" with {'post': post} %}

		{# todo mettere link #}

		<div class="flex flex-wrap space-x-0 sm:space-x-5">
			<a href="/bunker" class="hero-button">Eazy
				Bunker</a>
			<a href="/green" class="hero-button">Eazy
				Green</a>
			<a href="/yachting" class="hero-button">Eazy
				Yachting</a>
		</div>
	</div>
</section>